<div class="p-3">
  <h2>Mes transactions</h2>
  <div class="d-flex justify-content-end mb-3">
    <a type="button" class="btn btn-success">
      <em class="fas fa-plus"></em>&nbsp;Nouvelle transaction
    </a>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Montant</th>
        <th scope="col">IBAN</th>
        <th scope="col">Type</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <th scope="row">date</th>
        <td>

        </td>
        <td>destination</td>
        <td>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

